#imglogo{
  height: auto;
  width: 52px;
}

body > nav > div.pad{
  margin-left: 10rem;
  margin-right: 10rem;
}

@media only screen and (max-width: 1400px) {
  body > nav > div.pad{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

body > header#encabezado {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  position: relative;
}

div.firstText {
  padding-top: 300px;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 0px;
  font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.secondText {
  font-size: 60px;
  font-weight: 700;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-bottom: 25px;
}

<<<<<<< HEAD
@media only screen and (max-width: 1200px) {
  div.firstText {
    padding-top: 300px;
    font-size: 30px;
  }
  div.secondText {
    font-size: 40px;
  }
  body > header#encabezado > div.container > div.introtext > button.btn-xl {
    padding: 15px 35px;
    font-size: 16px;
  }
}

=======
div.title {
  padding-top: 120px;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0px;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.subtitle {
  font-size: 22px;
  font-style: italic;
  font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
  padding-bottom: 25px;
}

@media only screen and (max-width: 1200px) {
  div.firstText {
    padding-top: 300px;
    font-size: 30px;
  }
  div.secondText {
    font-size: 40px;
  }
  body > header#encabezado > div.container > div.introtext > button.btn-xl {
    padding: 15px 35px;
    font-size: 16px;
  }
}

>>>>>>> b498d54ca5b40b28d9768e562a64d35069eb4121
@media only screen and (max-width: 352px) {
  div.firstText {
    padding-top: 300px;
    font-size: 25px;
  }
  div.secondText {
    font-size: 30px;
  }
}
