#imglogo{
  height: auto;
  width: 52px;
}

body > nav > div.pad{
  margin-left: 10rem;
  margin-right: 10rem;
}

@media only screen and (max-width: 1400px) {
  body > nav > div.pad{
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

body > header#encabezado {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 100vh;
  position: relative;
}

div.firstText {
  padding-top: 300px;
  font-size: 40px;
  font-style: italic;
  line-height: 40px;
  margin-bottom: 0px;
  font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

div.secondText {
  font-size: 60px;
  font-weight: 700;
  font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
}


  /*header.masthead .intro-text .intro-heading {
      font-size: 75px;
      font-weight: 700;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
  }*/
